In [27]:
import pandas as pd

In [28]:
raw_json = pd.read_csv('C:\\Users\\john_\\Downloads\\bdcbb5d9-0e5a-4007-85e1-0ab3acdb25ff.csv')
#raw_json = pd.read_csv('/home/john/Downloads/129913f4-b386-4053-8005-37d3331864b2.csv')

In [29]:
raw_json.columns

Index(['location', 'volume_gallons', 'temp_humidity', 'light', 'water',
       'water_vs_air_temp_fahrenheit', 'timestamp', 'light_uv', '__dt'],
      dtype='object')

In [30]:
raw_json.head()

,location,volume_gallons,temp_humidity,light,water,water_vs_air_temp_fahrenheit,timestamp,light_uv,__dt
0,pi_zero_2_w,3.824136,"{temp_celsius=25.3, temp_fahrenheit=77.5399999...","{visible=261, ir=254, uv=2, uv_index=0.02}","{temp_celsius=24.312, temp_fahrenheit=75.7616}",1.7784,"{datetime=Mon Jul 4 21:43:20 2022, day_of_yea...","{uv=0, ambient=0, uvi=0.0, lux=0.0}",2022-07-05 00:00:00.000
1,hydro_1,4.805272,"{temp_celsius=24.8, temp_fahrenheit=76.64, hum...","{visible=265, ir=289, uv=4, uv_index=0.04}","{temp_celsius=23.125, temp_fahrenheit=73.625}",NaN,NaN,NaN,2022-07-04 00:00:00.000
2,hydro_1,2.218941,"{temp_celsius=23.9, temp_fahrenheit=75.02, hum...","{visible=261, ir=254, uv=2, uv_index=0.02}","{temp_celsius=22.25, temp_fahrenheit=72.05}",NaN,NaN,NaN,2022-07-04 00:00:00.000
3,hydro_1,3.944390,"{temp_celsius=26.8, temp_fahrenheit=80.2400000...","{visible=261, ir=259, uv=2, uv_index=0.02}","{temp_celsius=25.062, temp_fahrenheit=77.11160...",3.1284,"{datetime=Mon Jul 4 18:50:58 2022, day_of_yea...","{uv=0, ambient=119, uvi=0.0, lux=95.1999999999...",2022-07-04 00:00:00.000
4,hydro_1,0.940614,"{temp_celsius=26.5, temp_fahrenheit=79.7, humi...","{visible=261, ir=260, uv=2, uv_index=0.02}","{temp_celsius=25.062, temp_fahrenheit=77.11160...",2.5884,"{datetime=Mon Jul 4 19:21:40 2022, day_of_yea...","{uv=0, ambient=121, uvi=0.0, lux=96.8}",2022-07-04 00:00:00.000

In [31]:
raw_json['light']

0      {visible=261, ir=254, uv=2, uv_index=0.02}
1      {visible=265, ir=289, uv=4, uv_index=0.04}
2      {visible=261, ir=254, uv=2, uv_index=0.02}
3      {visible=261, ir=259, uv=2, uv_index=0.02}
4      {visible=261, ir=260, uv=2, uv_index=0.02}
                          ...
948    {visible=265, ir=289, uv=4, uv_index=0.04}
949    {visible=261, ir=257, uv=2, uv_index=0.02}
950    {visible=261, ir=253, uv=2, uv_index=0.02}
951    {visible=262, ir=266, uv=3, uv_index=0.03}
952    {visible=262, ir=274, uv=3, uv_index=0.03}
Name: light, Length: 953, dtype: object

In [32]:
# note that the values here are not valid json, even though valid json was published to the topic
raw_json['light'].explode('light')

0      {visible=261, ir=254, uv=2, uv_index=0.02}
1      {visible=265, ir=289, uv=4, uv_index=0.04}
2      {visible=261, ir=254, uv=2, uv_index=0.02}
3      {visible=261, ir=259, uv=2, uv_index=0.02}
4      {visible=261, ir=260, uv=2, uv_index=0.02}
                          ...
948    {visible=265, ir=289, uv=4, uv_index=0.04}
949    {visible=261, ir=257, uv=2, uv_index=0.02}
950    {visible=261, ir=253, uv=2, uv_index=0.02}
951    {visible=262, ir=266, uv=3, uv_index=0.03}
952    {visible=262, ir=274, uv=3, uv_index=0.03}
Name: light, Length: 953, dtype: object

In [33]:
import re
import json
def add_quotes(jsonish_string):
    if isinstance(jsonish_string, str):
        json_string = re.sub("(\w+)=", r'"\1":',  jsonish_string) 
        return json.loads(json_string)
    else:
        return None
    
    
raw_json["light_json"] = raw_json['light'].apply(add_quotes)
raw_json["light_uv_json"] = raw_json['light_uv'].apply(add_quotes)

In [49]:
raw_json['light_json']

0      {'visible': 261, 'ir': 254, 'uv': 2, 'uv_index...
1      {'visible': 265, 'ir': 289, 'uv': 4, 'uv_index...
2      {'visible': 261, 'ir': 254, 'uv': 2, 'uv_index...
3      {'visible': 261, 'ir': 259, 'uv': 2, 'uv_index...
4      {'visible': 261, 'ir': 260, 'uv': 2, 'uv_index...
                             ...
948    {'visible': 265, 'ir': 289, 'uv': 4, 'uv_index...
949    {'visible': 261, 'ir': 257, 'uv': 2, 'uv_index...
950    {'visible': 261, 'ir': 253, 'uv': 2, 'uv_index...
951    {'visible': 262, 'ir': 266, 'uv': 3, 'uv_index...
952    {'visible': 262, 'ir': 274, 'uv': 3, 'uv_index...
Name: light_json, Length: 953, dtype: object

In [51]:
## normalize the json to columns while merging them together on the index
normalized_light = pd.json_normalize(raw_json['light_json']).merge(pd.json_normalize(raw_json['light_uv_json']), left_index=True, right_index=True, suffixes=('_light', '_light_uv'))
normalized_light

     visible   ir  uv_light  uv_index  uv_light_uv  ambient  uvi   lux
0        261  254         2      0.02          0.0      0.0  0.0   0.0
1        265  289         4      0.04          NaN      NaN  NaN   NaN
2        261  254         2      0.02          NaN      NaN  NaN   NaN
3        261  259         2      0.02          0.0    119.0  0.0  95.2
4        261  260         2      0.02          0.0    121.0  0.0  96.8
..       ...  ...       ...       ...          ...      ...  ...   ...
948      265  289         4      0.04          NaN      NaN  NaN   NaN
949      261  257         2      0.02          0.0     98.0  0.0  78.4
950      261  253         2      0.02          0.0      0.0  0.0   0.0
951      262  266         3      0.03          NaN      NaN  NaN   NaN
952      262  274         3      0.03          NaN      NaN  NaN   NaN

[953 rows x 8 columns]

In [53]:
dataset_df = normalized_light.merge(raw_json[['location', 'timestamp']], left_index=True, right_index=True)
dataset_df

,visible,ir,uv_light,uv_index,uv_light_uv,ambient,uvi,lux,location,timestamp
0,261,254,2,0.02,0.0,0.0,0.0,0.0,pi_zero_2_w,"{datetime=Mon Jul 4 21:43:20 2022, day_of_yea..."
1,265,289,4,0.04,NaN,NaN,NaN,NaN,hydro_1,NaN
2,261,254,2,0.02,NaN,NaN,NaN,NaN,hydro_1,NaN
3,261,259,2,0.02,0.0,119.0,0.0,95.2,hydro_1,"{datetime=Mon Jul 4 18:50:58 2022, day_of_yea..."
4,261,260,2,0.02,0.0,121.0,0.0,96.8,hydro_1,"{datetime=Mon Jul 4 19:21:40 2022, day_of_yea..."
...,...,...,...,...,...,...,...,...,...,...
948,265,289,4,0.04,NaN,NaN,NaN,NaN,hydro_1,NaN
949,261,257,2,0.02,0.0,98.0,0.0,78.4,hydro_1,"{datetime=Mon Jul 4 20:01:55 2022, day_of_yea..."
950,261,253,2,0.02,0.0,0.0,0.0,0.0,pi_zero_2_w,"{datetime=Mon Jul 4 21:30:16 2022, day_of_yea..."
951,262,266,3,0.03,NaN,NaN,NaN,NaN,hydro_1,NaN
952,262,274,3,0.03,NaN,NaN,NaN,NaN,hydro_1,NaN

In [54]:
clean = dataset_df.dropna()
clean

,visible,ir,uv_light,uv_index,uv_light_uv,ambient,uvi,lux,location,timestamp
0,261,254,2,0.02,0.0,0.0,0.000000,0.0,pi_zero_2_w,"{datetime=Mon Jul 4 21:43:20 2022, day_of_yea..."
3,261,259,2,0.02,0.0,119.0,0.000000,95.2,hydro_1,"{datetime=Mon Jul 4 18:50:58 2022, day_of_yea..."
4,261,260,2,0.02,0.0,121.0,0.000000,96.8,hydro_1,"{datetime=Mon Jul 4 19:21:40 2022, day_of_yea..."
7,260,254,2,0.02,0.0,0.0,0.000000,0.0,pi_zero_2_w,"{datetime=Mon Jul 4 21:42:48 2022, day_of_yea..."
29,260,258,2,0.02,1.0,116.0,0.041739,92.8,hydro_1,"{datetime=Mon Jul 4 19:29:31 2022, day_of_yea..."
...,...,...,...,...,...,...,...,...,...,...
942,261,259,2,0.02,0.0,108.0,0.000000,86.4,hydro_1,"{datetime=Mon Jul 4 19:38:55 2022, day_of_yea..."
943,260,254,2,0.02,0.0,0.0,0.000000,0.0,pi_zero_2_w,"{datetime=Mon Jul 4 21:33:24 2022, day_of_yea..."
945,261,261,2,0.02,0.0,122.0,0.000000,97.6,hydro_1,"{datetime=Mon Jul 4 18:41:34 2022, day_of_yea..."
949,261,257,2,0.02,0.0,98.0,0.000000,78.4,hydro_1,"{datetime=Mon Jul 4 20:01:55 2022, day_of_yea..."
950,261,253,2,0.02,0.0,0.0,0.000000,0.0,pi_zero_2_w,"{datetime=Mon Jul 4 21:30:16 2022, day_of_yea..."

In [57]:
clean['location'].value_counts()
#clean[clean['location'] == 'pi_zero_w'].describe()

hydro_1        162
pi_zero_2_w     79
Name: location, dtype: int64