In [2]:
import pandas as pd

In [5]:
raw_json = pd.read_csv('C:\\Users\\john_\\Downloads\\bdcbb5d9-0e5a-4007-85e1-0ab3acdb25ff.csv')

In [7]:
raw_json.columns

Index(['location', 'volume_gallons', 'temp_humidity', 'light', 'water',
       'water_vs_air_temp_fahrenheit', 'timestamp', 'light_uv', '__dt'],
      dtype='object')

In [8]:
raw_json.head()

,location,volume_gallons,temp_humidity,light,water,water_vs_air_temp_fahrenheit,timestamp,light_uv,__dt
0,pi_zero_2_w,3.824136,"{temp_celsius=25.3, temp_fahrenheit=77.5399999...","{visible=261, ir=254, uv=2, uv_index=0.02}","{temp_celsius=24.312, temp_fahrenheit=75.7616}",1.7784,"{datetime=Mon Jul 4 21:43:20 2022, day_of_yea...","{uv=0, ambient=0, uvi=0.0, lux=0.0}",2022-07-05 00:00:00.000
1,hydro_1,4.805272,"{temp_celsius=24.8, temp_fahrenheit=76.64, hum...","{visible=265, ir=289, uv=4, uv_index=0.04}","{temp_celsius=23.125, temp_fahrenheit=73.625}",NaN,NaN,NaN,2022-07-04 00:00:00.000
2,hydro_1,2.218941,"{temp_celsius=23.9, temp_fahrenheit=75.02, hum...","{visible=261, ir=254, uv=2, uv_index=0.02}","{temp_celsius=22.25, temp_fahrenheit=72.05}",NaN,NaN,NaN,2022-07-04 00:00:00.000
3,hydro_1,3.944390,"{temp_celsius=26.8, temp_fahrenheit=80.2400000...","{visible=261, ir=259, uv=2, uv_index=0.02}","{temp_celsius=25.062, temp_fahrenheit=77.11160...",3.1284,"{datetime=Mon Jul 4 18:50:58 2022, day_of_yea...","{uv=0, ambient=119, uvi=0.0, lux=95.1999999999...",2022-07-04 00:00:00.000
4,hydro_1,0.940614,"{temp_celsius=26.5, temp_fahrenheit=79.7, humi...","{visible=261, ir=260, uv=2, uv_index=0.02}","{temp_celsius=25.062, temp_fahrenheit=77.11160...",2.5884,"{datetime=Mon Jul 4 19:21:40 2022, day_of_yea...","{uv=0, ambient=121, uvi=0.0, lux=96.8}",2022-07-04 00:00:00.000

In [17]:
raw_json['light']

0      {visible=261, ir=254, uv=2, uv_index=0.02}
1      {visible=265, ir=289, uv=4, uv_index=0.04}
2      {visible=261, ir=254, uv=2, uv_index=0.02}
3      {visible=261, ir=259, uv=2, uv_index=0.02}
4      {visible=261, ir=260, uv=2, uv_index=0.02}
                          ...
948    {visible=265, ir=289, uv=4, uv_index=0.04}
949    {visible=261, ir=257, uv=2, uv_index=0.02}
950    {visible=261, ir=253, uv=2, uv_index=0.02}
951    {visible=262, ir=266, uv=3, uv_index=0.03}
952    {visible=262, ir=274, uv=3, uv_index=0.03}
Name: light, Length: 953, dtype: object

In [22]:
# this doesn't seem to be json - possibly dict?
raw_json['light'].explode('light')

0      {visible=261, ir=254, uv=2, uv_index=0.02}
1      {visible=265, ir=289, uv=4, uv_index=0.04}
2      {visible=261, ir=254, uv=2, uv_index=0.02}
3      {visible=261, ir=259, uv=2, uv_index=0.02}
4      {visible=261, ir=260, uv=2, uv_index=0.02}
                          ...
948    {visible=265, ir=289, uv=4, uv_index=0.04}
949    {visible=261, ir=257, uv=2, uv_index=0.02}
950    {visible=261, ir=253, uv=2, uv_index=0.02}
951    {visible=262, ir=266, uv=3, uv_index=0.03}
952    {visible=262, ir=274, uv=3, uv_index=0.03}
Name: light, Length: 953, dtype: object