In [5]:
import pandas as pd

In [7]:
#raw_json = pd.read_csv('C:\\Users\\john_\\Downloads\\bdcbb5d9-0e5a-4007-85e1-0ab3acdb25ff.csv')
raw_json = pd.read_csv('/home/john/Downloads/129913f4-b386-4053-8005-37d3331864b2.csv')

In [8]:
raw_json.columns

Index(['location', 'volume_gallons', 'temp_humidity', 'light', 'water',
       'water_vs_air_temp_fahrenheit', 'timestamp', 'light_uv', '__dt'],
      dtype='object')

In [9]:
raw_json.head()

,location,volume_gallons,temp_humidity,light,water,water_vs_air_temp_fahrenheit,timestamp,light_uv,__dt
0,hydro_1,1.358643,"{temp_celsius=23.6, temp_fahrenheit=74.48, hum...","{visible=260, ir=254, uv=2, uv_index=0.02}","{temp_celsius=21.937, temp_fahrenheit=71.48660...",NaN,NaN,NaN,2022-07-04 00:00:00.000
1,hydro_1,4.881402,"{temp_celsius=23.7, temp_fahrenheit=74.66, hum...","{visible=267, ir=295, uv=5, uv_index=0.05}","{temp_celsius=22.125, temp_fahrenheit=71.825}",NaN,NaN,NaN,2022-07-04 00:00:00.000
2,hydro_1,4.794115,"{temp_celsius=26.7, temp_fahrenheit=80.06, hum...","{visible=261, ir=258, uv=2, uv_index=0.02}","{temp_celsius=25.062, temp_fahrenheit=77.11160...",2.9484,"{datetime=Mon Jul 4 18:44:11 2022, day_of_yea...","{uv=1, ambient=117, uvi=0.04173913043478261, l...",2022-07-04 00:00:00.000
3,hydro_1,4.687666,"{temp_celsius=23.3, temp_fahrenheit=73.94, hum...","{visible=263, ir=267, uv=3, uv_index=0.03}","{temp_celsius=21.687, temp_fahrenheit=71.0366}",NaN,NaN,NaN,2022-07-04 00:00:00.000
4,pi_zero_2_w,4.444213,"{temp_celsius=25.5, temp_fahrenheit=77.9, humi...","{visible=259, ir=253, uv=1, uv_index=0.01}","{temp_celsius=24.437, temp_fahrenheit=75.98660...",1.9134,"{datetime=Mon Jul 4 21:23:59 2022, day_of_yea...","{uv=0, ambient=0, uvi=0.0, lux=0.0}",2022-07-05 00:00:00.000

In [10]:
raw_json['light']

0      {visible=260, ir=254, uv=2, uv_index=0.02}
1      {visible=267, ir=295, uv=5, uv_index=0.05}
2      {visible=261, ir=258, uv=2, uv_index=0.02}
3      {visible=263, ir=267, uv=3, uv_index=0.03}
4      {visible=259, ir=253, uv=1, uv_index=0.01}
                          ...
950    {visible=262, ir=269, uv=3, uv_index=0.03}
951    {visible=260, ir=259, uv=2, uv_index=0.02}
952    {visible=260, ir=254, uv=2, uv_index=0.02}
953    {visible=261, ir=257, uv=2, uv_index=0.02}
954    {visible=260, ir=254, uv=2, uv_index=0.02}
Name: light, Length: 955, dtype: object

In [12]:
# note that the values here are not valid json, even though valid json was published to the topic
raw_json['light'].explode('light')

0      {visible=260, ir=254, uv=2, uv_index=0.02}
1      {visible=267, ir=295, uv=5, uv_index=0.05}
2      {visible=261, ir=258, uv=2, uv_index=0.02}
3      {visible=263, ir=267, uv=3, uv_index=0.03}
4      {visible=259, ir=253, uv=1, uv_index=0.01}
                          ...
950    {visible=262, ir=269, uv=3, uv_index=0.03}
951    {visible=260, ir=259, uv=2, uv_index=0.02}
952    {visible=260, ir=254, uv=2, uv_index=0.02}
953    {visible=261, ir=257, uv=2, uv_index=0.02}
954    {visible=260, ir=254, uv=2, uv_index=0.02}
Name: light, Length: 955, dtype: object

In [59]:
import re
import json
def add_quotes(jsonish_string):
    if isinstance(jsonish_string, str):
        json_string = re.sub("(\w+)=", r'"\1":',  jsonish_string) 
        return json.loads(json_string)
    else:
        return None
    
    
raw_json["light_json"] = raw_json['light'].apply(add_quotes)
raw_json["light_uv_json"] = raw_json['light_uv'].apply(add_quotes)

In [50]:
raw_json['light_json']

0      {'visible': 260, 'ir': 254, 'uv': 2, 'uv_index...
1      {'visible': 267, 'ir': 295, 'uv': 5, 'uv_index...
2      {'visible': 261, 'ir': 258, 'uv': 2, 'uv_index...
3      {'visible': 263, 'ir': 267, 'uv': 3, 'uv_index...
4      {'visible': 259, 'ir': 253, 'uv': 1, 'uv_index...
                             ...
950    {'visible': 262, 'ir': 269, 'uv': 3, 'uv_index...
951    {'visible': 260, 'ir': 259, 'uv': 2, 'uv_index...
952    {'visible': 260, 'ir': 254, 'uv': 2, 'uv_index...
953    {'visible': 261, 'ir': 257, 'uv': 2, 'uv_index...
954    {'visible': 260, 'ir': 254, 'uv': 2, 'uv_index...
Name: light_json, Length: 955, dtype: object

In [61]:
normalized_light = pd.json_normalize(raw_json['light_uv_json'])
normalized_light

      uv  ambient       uvi   lux
0    NaN      NaN       NaN   NaN
1    NaN      NaN       NaN   NaN
2    1.0    117.0  0.041739  93.6
3    NaN      NaN       NaN   NaN
4    0.0      0.0  0.000000   0.0
..   ...      ...       ...   ...
950  NaN      NaN       NaN   NaN
951  0.0    120.0  0.000000  96.0
952  0.0      0.0  0.000000   0.0
953  0.0     97.0  0.000000  77.6
954  NaN      NaN       NaN   NaN

[955 rows x 4 columns]

In [63]:
clean = normalized_light.dropna()
clean

      uv  ambient       uvi   lux
2    1.0    117.0  0.041739  93.6
4    0.0      0.0  0.000000   0.0
6    0.0    107.0  0.000000  85.6
7    0.0      0.0  0.000000   0.0
11   0.0    120.0  0.000000  96.0
..   ...      ...       ...   ...
945  0.0    110.0  0.000000  88.0
947  0.0    117.0  0.041739  94.4
951  0.0    120.0  0.000000  96.0
952  0.0      0.0  0.000000   0.0
953  0.0     97.0  0.000000  77.6

[243 rows x 4 columns]

In [66]:
clean.describe()

               uv     ambient         uvi         lux
count  243.000000  243.000000  243.000000  243.000000
mean     0.115226   65.510288    0.005668   52.809877
std      0.319954   54.207465    0.014328   43.299761
min      0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000
50%      0.000000   95.000000    0.000000   76.800000
75%      0.000000  117.000000    0.000000   93.600000
max      1.000000  177.000000    0.041739  141.600000